.navbar {
    background-color: #ffffff !Important;
    border: 1px solid #dddddd;

}
.navbar-brand {
    Font-Family: 'Cabin', Sans-Serif;
    font-size: 30px;
    color: #777!Important;
}

#navbarNav {
    Font-Family: 'Roboto Condensed', Sans-Serif;
    Font-Size: 20px;
}

h2 {
    border-bottom: 2px solid #dddddd;
    Font-Family: 'Cabin', Sans-Serif;
    color: #777;
    font-weight: bolder;
    font-size: 25px;
    padding: 0px 0px 20px 0px;
    margin: 20px 0px 20px 0px;
}

.container {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    overflow: auto;
    background-color:white;
    border: 1px solid #dddddd;
    Font-Family: 'Roboto Condensed', Sans-Serif;
    width: 100%;
    max-width: 960px;
}

body {
    background-image: url(../images/rockywall.png);
}

.copyAbout {
    height: auto;
    min-height: 100%;
}

#bioImage {
    display: block;
    width: 100%;
}

.footer {
    border-top: 1px solid #dddddd;
    height: 70px!Important;
}

#copyright {
    Font-Family: 'Cabin', Sans-Serif;
    Font-Size: 16px;
    color: #777;
}

.banner {
    box-sizing: border-box;
    color: #eeeeee;
    background-color: #777;
    padding: 15px;
    margin: 130px 0px 0px 0px;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 18px;
}

.portfolioBox {
    box-sizing: border-box;
    background-image: url(http://via.placeholder.com/300x200);
    width: 100%;
    max-width: 300px;
    height: 200px;
    margin: 20px;
    padding: 10px 0px 0px 0px;
    cursor: url("../cursor/harry-potter-deathly-hallows-vinyl-decal-decals-snooozeworks_1024x1024.png"), auto!Important;
}

#hangman {
    background-image: url(../images/hogwarts-background.jpg);
}

#cruxGame {
    background-image: url(../images/cruxGame.jpg);
}

.portfolioBox:hover {
    cursor: pointer;
}

@media screen and (max-width: 990px) {
    #bioImage {
        max-width: 100%;
        padding-bottom: 20px;
    }
}