/*body {
    margin: auto;
    background-image: url(../images/rockywall.png);
    box-sizing: border-box;
}

.navbar {
    background-color: white!Important;
    width: 100%;
    border-bottom: 2px solid #dddddd;
    margin-bottom: 20px;
    overflow: auto;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.header {
    width: 960px;
    margin: auto;
    color: #dddddd;
}

.navbar {
    margin-bottom: 20px;
    padding: 0px;
}

.navbar-toggler {
    float: right;
    margin: 10px 10px 0px 0px;
}

.nav-item {
    margin-top: 20px;
    padding: 0px 10px 0px 0px;
}

.nav-about, .nav-portfolio {
    border-right: 1px solid #ddd;
}

#logoName {
    color: #ffffff;
    text-align: center;
    background-color: #4aaaa5;
    width: 240px;
    height: 100%;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding: 20px;
    font-weight: bolder;
    font-size: 25px;
    float: left;
    margin: 0;
}

.h3 {
    color: #777777;
    background-color: white;
    float: right;
    width: auto;
    padding: 20px 0px 20px 20px;
    font-size: 18px;

}


.navbar {
    display: inline-block;
    width: 100%;
    background-color: #ffffff;
    border: 2px solid green;
}

.navbar-nav {
    background-color: red;
    align-content: right;
}

.navbar-brand {
    background-color: #4aaaa5;
    padding: 20px 30px 20px 30px;
    color: #ffffff;
}


#copyright {
    color: #eeeeee;
}

#bioImage {
    box-sizing: border-box;
    background-color: #ffffff;
    width: 100%;
    max-width: 200px;
    float: left;
    margin: 5px 5px 5px 5px;
    border: 1px solid #dddddd;
}

p {
    color: #777777;
    line-height: 1.5rem;
}

footer {
    box-sizing: border-box;
    overflow: auto;
    color: #ffffff;
    background-color: #666666;
    padding: 20px;
    text-align: center;
    width: 100%;
    border-top: 5px solid #4aaaa5;
    bottom: 0;
    margin: 20px 0px 0px 0px;
}

#copyright {
    color: #eeeeee;
}

@media screen and (max-width: 960px) {
    .bioImage {
        float: left;
    }
}

@media screen and (max-width: 720px) {
    .copyAbout {
        padding-left: 20px;
    }
}
*/

/*Google font sources:

Font-Family: 'Roboto Condensed', Sans-Serif;
Font-Size: 35px;

Font-Family: 'Cabin', Sans-Serif;
Font-Size: 16px;
*/

.navbar {
    background-color: #ffffff !Important;
    border: 1px solid #dddddd;

}
.navbar-brand {
    Font-Family: 'Cabin', Sans-Serif;
    font-size: 30px;
    color: #777!Important;
}

#navbarNav {
    Font-Family: 'Roboto Condensed', Sans-Serif;
    Font-Size: 20px;
}

h2 {
    border-bottom: 2px solid #dddddd;
    Font-Family: 'Cabin', Sans-Serif;
    color: #777;
    font-weight: bolder;
    font-size: 25px;
    padding: 0px 0px 20px 0px;
    margin: 20px 0px 20px 0px;
}

.container {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    overflow: auto;
    background-color:white;
    border: 1px solid #dddddd;
    Font-Family: 'Roboto Condensed', Sans-Serif;
    width: 100%;
    max-width: 960px;
}

body {
    background-image: url(../images/rockywall.png);
}

.copyAbout {
    height: auto;
    min-height: 100%;
}

#bioImage {
    display: block;
    width: 100%;
}

.footer {
    border-top: 1px solid #dddddd;
    height: 70px!Important;
}

#copyright {
    Font-Family: 'Cabin', Sans-Serif;
    Font-Size: 16px;
    color: #777;
}

.banner {
    box-sizing: border-box;
    color: #eeeeee;
    background-color: #4aaaa5;
    padding: 15px;
    margin: 130px 0px 0px 0px;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 18px;
}

.portfolioBox {
    box-sizing: border-box;
    background-image: url(http://via.placeholder.com/300x200);
    width: 100%;
    max-width: 300px;
    height: 200px;
    margin: 20px;
    padding: 10px 0px 0px 0px;
}

#hangman {
    background-image: url(../images/hogwarts-background.jpg);
}

.portfolioBox:hover {
    cursor: pointer;
}

@media screen and (max-width: 990px) {
    #bioImage {
        max-width: 100%;
        padding-bottom: 20px;
    }
}