.answer {
    padding: 5px 15px 5px 15px;
    border: 1px solid black;
}

#answerChoices {
    display: none;
    margin: 25px;
}

#question {
    margin: 25px;
}

p,
h1 {
    margin: 25px;
}

#resultsDisplay {
    color: olive;
}