h1 {
    font-size: 75px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

#heading {
    text-align: center;
    margin-bottom: 25px;
    margin-top:25px;
}

#potterImage {
    max-width: 200px;
    margin-bottom: 25px;
}

h3 {
    font-size: 15px;
    font-style: italic;
}

#currentWord {
    font-size: 35px;
    text-align: left;
    letter-spacing: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-image: url("../images/hogwarts-background.jpg");
}

.container {
    margin: auto;
}

.guessData {
    font-family: 'Dosis', sans-serif;
    background: rgba(255,255,255,0.3);
    box-shadow: 0 0 50px 10px rgba(255,255,255,0.3);
    border-radius: 50px;
    padding-top: 25px;
}

.guessDataCopy {
    background-color: lightgray;
    padding: 10px;
}

#nameDisplay {
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 25px;
    font-size: 30px;
}

#gifDisplay {
    margin-bottom: 25px;
}