body {
    margin: auto;
    background-image: url(../images/rockywall.png);
    box-sizing: border-box;
}

header {
    background-color: #ffffff;
    width: 100%;
    border-bottom: 2px solid #dddddd;
    margin-bottom: 20px;
    overflow: auto;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.header {
    width: 960px;
    margin: auto;
    color: #dddddd;
}

#navAbout {
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid #eeeeee;
}

#navPortfolio {
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid #eeeeee;
}

#navContact {
    padding-left: 10px;
}

a:link {
    color: #777777;
    text-decoration: none;
}

a:visited {
    color: #777777;
    text-decoration: inherit;
}

a:hover {
    color: #4aaaa5;
}

#logoName {
    color: #ffffff;
    text-align: center;
    background-color: #4aaaa5;
    width: 200px;
    height: 100%;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding: 20px;
    font-weight: bolder;
    font-size: 25px;
    float: left;
}

/*This is the for the Navigation Bar and Contact Form Inputs*/
.h3 {
    color: #777777;
    background-color: #ffffff;
    float: right;
    width: auto;
    padding: 20px 0px 20px 20px;
    font-size: 18px;
}

/* COMMENTING OUT THE CLEARFIX FOR NOW
.clearfix ::after {
	content: “”;
	display: block’
}
*/

section {
    width: 960px;
    margin: 0 auto;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 20px;
    overflow: auto;
    border: 1px solid #dddddd;
}

#bioImage {
    box-sizing: border-box;
    background-color: #ffffff;
    height: 200px;
    width: 200px;
    float: left;
    margin: 5px 20px 5px 5px;
    border: 1px solid #dddddd;
}

h2 {
    background-color: #ffffff;
    border-bottom: 2px solid #dddddd;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    font-weight: bolder;
    font-size: 25px;
    padding: 0px 0px 20px 0px;
    margin: 0px 0px 20px 0px;
}

p {
    color: #777777;
    line-height: 1.5;
}

footer {
    box-sizing: border-box;
    overflow: auto;
    color: #ffffff;
    background-color: #666666;
    padding: 20px;
    text-align: center;
    width: 100%;
    border-top: 5px solid #4aaaa5;
    bottom: 0;
    margin: 20px 0px 0px 0px;
}

#copyright {
    color: #eeeeee;
}

/* CONTACT SPECIFIC CSS*/

form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

textarea {
    height: 100px;
    border: 1px solid #dddddd;
}

textarea:hover {
    border: 2px solid #4aaaa5;
}

input {
    height: 1px;
}

input:hover {
    border: 2px solid #4aaaa5;
}

button {
    width: 80px;
    color: #ffffff;
    background-color: #4aaaa5;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    width: 120px;
    text-align: center;
}

.input {
    margin-bottom: 10px;
}

/*This is for the Portfolio page*/

.banner {
    box-sizing: border-box;
    color: #eeeeee;
    background-color: #4aaaa5;
    padding: 15px;
    margin: 130px 0px 0px 0px;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 18px;
}

.portfolioBox {
    box-sizing: border-box;
    background-color: #dddddd;
    width: 300px;
    height: 200px;
    margin: 20px 40px 20px 0px;
    padding: 10px 0px 0px 0px;
}

.portfolioBox:hover {
    border: 5px solid #4aaaa5;
}

#row1, #row2 {
    display: flex;
    flex-wrap: wrap;
}