h1,
p {
    text-align: center;
    color: white;
}

h1 {
    font-family: 'Lato', sans-serif;
}

h2 {
    font-size: 45px;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

h3 {
    font-size: 20px;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
}

h4 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    width: 100%;
}

h5 {
    font-family: 'Varela Round', sans-serif;
    font-size: 15px;
    width: 100%;
}

p {
    font-family: 'Varela Round', sans-serif;
}

#faqContainer {
    margin-bottom: 25px;
}

.exploreStudiosCity {
    font-size: 25px;
}

nav {
    padding: 20px 25px 20px 40px!Important;
}

.navbar-brand {
    padding: 0px!Important;
}

#shootspaceLogo {
    max-width: 168px;
}

#headerImage {
    /* The image used */
    background-image: url("../images/IMG_9835.jpg");
    padding: 150px 5px 150px 5px;
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px 0px 66px 0px;
}

#footer {
    margin: 0px;
    min-width: 100%;
}

.topRow {
    margin-bottom: 30px;
}

.bottomRow {
    margin-bottom: 30px;
}

#minneapolisStudio {
    padding: 150px 0px 150px 0px;
    /* Background image with black gradient from bottom */
    background-image: url("../images/215-10th-Ave-S-736-Twilight-002.jpg");
    /* Regular background with no effects */
    /* background-image: url("../assets/images/IMG_0023.jpg"); */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

#minneapolisStudio:hover {
    padding: 150px 0px 150px 0px;
    /* Background image with black gradient from bottom */
    background: linear-gradient(to bottom, transparent, rgb(0, 0, 0, 0.5)), url("../images/215-10th-Ave-S-736-Twilight-002.jpg");
    /* Regular background with no effects */
    /* background-image: url("../assets/images/IMG_0023.jpg"); */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

#newYorkStudio {
    padding: 150px 0px 150px 0px;
    /* Background image with black gradient from bottom */
    background-image: url("../images/building-cc0-city-89485.jpg");
    /* Regular background with no effects */
    /* background-image: url("../assets/images/IMG_0023.jpg"); */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

#newYorkStudio:hover {
    padding: 150px 0px 150px 0px;
    /* Background image with black gradient from bottom */
    background: linear-gradient(to bottom, transparent, rgb(0, 0, 0, 0.5)), url("../images/building-cc0-city-89485.jpg");
    /* Regular background with no effects */
    /* background-image: url("../assets/images/IMG_0023.jpg"); */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

#losAngelesStudio {
    padding: 150px 0px 150px 0px;
    /* Background image with black gradient from bottom */
    background-image: url("../images/aerial-architectural-design-architecture-1036657.jpg");
    /* Regular background with no effects */
    /* background-image: url("../assets/images/IMG_0023.jpg"); */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

#losAngelesStudio:hover {
    padding: 150px 0px 150px 0px;
    background: linear-gradient(to bottom, transparent, rgb(0, 0, 0, 0.5)), url("../images/aerial-architectural-design-architecture-1036657.jpg");
    /* Regular background with no effects */
    /* background-image: url("../assets/images/IMG_0023.jpg"); */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

@media screen and (max-width: 767px) {
    #losAngelesStudio,
    #losAngelesStudio:hover {
        padding: 150px 0px 150px 0px;
        margin-top: 25px;
        background: linear-gradient(to bottom, transparent, rgb(0, 0, 0, 0.5)), url("../images/aerial-architectural-design-architecture-1036657.jpg");
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #newYorkStudio,
    #newYorkStudio:hover {
        padding: 150px 0px 150px 0px;
        /* Background image with black gradient from bottom */
        background: linear-gradient(to bottom, transparent, rgb(0, 0, 0, 0.5)), url("../images/building-cc0-city-89485.jpg");
        /* Regular background with no effects */
        /* background-image: url("../assets/images/IMG_0023.jpg"); */
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0px;
    }

    #minneapolisStudio,
    #minneapolisStudio:hover {
        padding: 150px 0px 150px 0px;
        /* Background image with black gradient from bottom */
        background: linear-gradient(to bottom, transparent, rgb(0, 0, 0, 0.5)), url("../images/215-10th-Ave-S-736-Twilight-002.jpg");
        /* Regular background with no effects */
        /* background-image: url("../assets/images/IMG_0023.jpg"); */
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0px;
    }

    #featuredStudiosHeader {
        margin-top: 25px;
    }
}

@media screen and (max-width: 575px) {
    h4,
    h5 {
        padding: 0px 20px 0px 20px;
    }
}