body {
    background-image:url('../images/C8l9hX1.jpg');
    background-repeat:no-repeat;
    background-position: center;
}

.container {
    padding: 0px;
}

h1 {
    font-size: 75px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

/* #horcruxCollector {
    text-align: center;
    padding: 20px;
    border: 2px solid black;
} */

.horcruxDisplay {
    margin: 0px;
    padding: 50px;
    /* background: rgba(0,0,0,0.2);
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.3);
    border-radius: 50px;
    color: white; */
}

#gem {
    padding: 25px;
    border: 2px solid black;
}

#scoreToMatch {
    height: 100px;
    border: 2px solid black;
}

#wins-losses {
    height: 100px;
    border: 2px solid black;
}

#yourScore {
    border: 2px solid black;
}

#scoreCounter {
    border: 2px solid black;
}

.horcrux {
    padding: 0px;
}

img {
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.7);
    border-radius: 180px;
}

.horcruxImage {
    max-width: 150px;
}

#scoreDisplay {
    text-align: center;
}